node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
logs

Dockerfile
.dockerignore
.git
.gitignore

.env
.env.*
.npm
.eslintcache
.cache
.vite
.DS_Store
.vscode
.idea

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
venv

coverage
.nyc_output

static
tools
var
